= form_for @index, :html => { :multipart => true, :class => "validate", :novalidate => "novalidate" } do |f|
  = f.fields_for :videos, @video do |video_form|
    = render "videos/form", :locals => {:f => video_form}
  %p= f.submit
