- f ||= local_assigns[:locals][:f]
- if(f.object.prioritizables.empty? rescue true)
  = f.hidden_field :priority
- else
  %p
    = f.label "#{f.object.class.to_s} Priority"
    %br/
    - i=0
    = f.select :priority, options_for_select(f.object.prioritizables.map{|p| [(i+=1).ordinalize, p.priority]} + [['Last',f.object.lowest_priority+1]], f.object.priority)
