<div id='footer' class='content'>
  <% if admin_signed_in? %>
    <%= link_to "Admin Sign out", destroy_admin_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Admin Sign in", new_admin_session_path %>
  <% end %>
  |
  Site By: Adam Olsen <%= mail_to "aosalias@gmail.com", "aosalias@gmail.com" %>
</div>
