- f ||= local_assigns[:locals][:f]
- index ||= f.object
%div{:id => f.object.id.to_s}
  = f.input :title
  = f.input :page_title
  = f.input :keywords, :input_html => { :rows => 5 }
  = f.input :page_description, :input_html => { :rows => 5 }
