<% render_seo @index %>

<%= render :partial => 'indices/show' %>

<% if admin_signed_in? %>
  <p><%= link_to "New Gallery", new_gallery_path %></p>
<% end %>

<% content_for :post_content do %>
  <% for gallery in @galleries %>
    <div class='clearfix content corner-all box-shadow'>
      <%= link_to image_tag(gallery.assets.first.thumb, :class => 'left'), gallery %>
      <h2><%= link_to gallery.title, gallery %></h2>
    </div>
  <% end %>
<% end %>
