= simple_form_for [@index, @gallery], :url => index_gallery_path(@index), :validate => true, :html => { :multipart => true} do |f|
  = render "galleries/form", :locals => {:f => f}
  = f.button :submit
