<% render_seo @index %>

<h2><%=h @gallery.title %></h2>

<%= render :partial => 'indices/show' %>

<% if admin_signed_in? %>
  <p>
    <%= link_to "Edit Gallery", edit_gallery_path(@gallery) %>
  </p>
<% end %>

<% content_for :post_content do %>
  <div class="content corner-all box-shadow">
    <%= render :partial => "shared/gallery", :locals => {:objs => @gallery.assets} %>
  </div>
<% end %>