#nav {
  width: $content-width;
  padding: 10px;
  background-color: $button-background-color;

  .button {
    margin: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    @include box-shadow(0);
    border-right: black 2px;
  }
}

.content {
  margin-top: 0 !important;
}

#main_container {
  @include box-shadow($shadow-radius);
  @include corners-bottom($corner-radius);
  background-color: $content-background-color;
  margin-top: 0px;
  .content {
    @include box-shadow(0);
    @include corners-all(0);
    background-color: transparent;
  }
  #nav {
    @include corners-all(0);
    @include box-shadow(0);
  }
}