#nav {
  width: $content-width - 4px;
  padding: 10px;
  background-color: $button-background-color;

  .button {
    margin: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    @include box-shadow(0);
  }
}

.content {
  margin-top: 0 !important;
}

#main_container {
  @include box-shadow($shadow-radius);
  @include corners-all($corner-radius);
  background-color: $content-background-color;
  border: 2px solid silver;
  margin-top: 0px;
  position: relative;
  top: -45px;
  .content {
    @include box-shadow(0);
    @include corners-all(0);
    background-color: transparent;
  }
  #nav {
    @include corners-top($corner-radius - 2px);
    @include box-shadow(0);
  }
}