/*Buttons*/
img.button {
  border: none;
}

a.button {
  letter-spacing: 2px;
  color: $content-background-color;
  font-size: 130%;
  font-weight: bold;
  opacity: .9;
  text-align: center;
  text-decoration: none;
  &:hover, &.current {
    opacity: 1;
    text-shadow: 0 0 10px white;
    color: white;
  }
}

.button {
  background-color: $button-background-color;
  border: 2px solid $button-background-color;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  @include box-shadow($shadow-radius);
  @include corners-all($corner-radius);
}

.pagination .button{
  width: auto;
  padding: 5px;
}
.button em {
  border-style:solid;
  border-color:transparent transparent transparent $content-background-color;
  border-width:9px;
  display:inline-block;
  bottom:-38px;
  position: relative;
  left: 10px;
  top: 2px;
  height:0;
  width:0;
}

.button:hover em,.current em {
  border-color: black transparent transparent transparent;
  top: 8px;
}