.simple_form {
  input.string, textarea {
    margin: 2px;
    border: 1px solid gray;
    &:hover, &:focus {
      border: 1px solid dark-gray;
      @include box-shadow(2px);
    }
  }
  label {
    float: left;
    width: 180px;
    text-align: right;
    margin: 2px 10px; }
  div {
    &.input {
      margin-bottom: 10px; }
    &.boolean {
      margin-left: 120px; } }
  input[type='submit'] {
    margin-left: 200px; }
  div.boolean label {
    float: none;
    margin: 0; } }
