.simple_form {
  input.string, textarea {
    margin: 2px;
    border: 1px solid gray;
    padding: 3px;
    &:hover, &:focus {
      border: 1px solid dark-gray;
      @include box-shadow(2px);
    }
  }
  label {
    float: left;
    width: 170px;
    text-align: right;
    margin: 2px 10px; }
  div {
    &.input {
      margin-bottom: 10px; }
    &.boolean {
      margin-left: 190px; } }
  input[type='submit'] {
    margin-left: 190px; }
  div.boolean label {
    float: none;
    margin: 0 10px; } }

.error {
  height:15px;
  background-color:yellow;
  padding:5px 10px;
  display:none;
  font-size: 14px;
  z-index: 10001;
  @include corners-all($corner-radius);
  @include box-shadow(6px);
  p { margin: 0 }
  em {
    bottom:3px;
    display:block;
    left:-7px;
    position:absolute;
    @include arrow-left(10px, yellow);
  }
}
