/* Corner radius */
//.corner-tl { -moz-border-radius-topleft: $corner-radius; -webkit-border-top-left-radius: $corner-radius; border-top-left-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//.corner-tr { -moz-border-radius-topright: $corner-radius; -webkit-border-top-right-radius: $corner-radius; border-top-right-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//.corner-bl { -moz-border-radius-bottomleft: $corner-radius; -webkit-border-bottom-left-radius: $corner-radius; border-bottom-left-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//.corner-br { -moz-border-radius-bottomright: $corner-radius; -webkit-border-bottom-right-radius: $corner-radius; border-bottom-right-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//.corner-top { -moz-border-radius-topleft: $corner-radius; -webkit-border-top-left-radius: $corner-radius; border-top-left-radius: $corner-radius; -moz-border-radius-topright: $corner-radius; -webkit-border-top-right-radius: $corner-radius; border-top-right-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//.corner-bottom { -moz-border-radius-bottomleft: $corner-radius; -webkit-border-bottom-left-radius: $corner-radius; border-bottom-left-radius: $corner-radius; -moz-border-radius-bottomright: $corner-radius; -webkit-border-bottom-right-radius: $corner-radius; border-bottom-right-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//.corner-right {  -moz-border-radius-topright: $corner-radius; -webkit-border-top-right-radius: $corner-radius; border-top-right-radius: $corner-radius; -moz-border-radius-bottomright: $corner-radius; -webkit-border-bottom-right-radius: $corner-radius; border-bottom-right-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//.corner-left { -moz-border-radius-topleft: $corner-radius; -webkit-border-top-left-radius: $corner-radius; border-top-left-radius: $corner-radius; -moz-border-radius-bottomleft: $corner-radius; -webkit-border-bottom-left-radius: $corner-radius; border-bottom-left-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//.corner-all { -moz-border-radius: $corner-radius; -webkit-border-radius: $corner-radius; border-radius: $corner-radius; behavior: url(/stylesheets/PIE.htc); }
//
@mixin box-shadow($radius){
  margin: $radius;
  -moz-box-shadow: 0 0 $radius black;
  -webkit-box-shadow: 0 0 $radius black;
  -box-shadow: 0 0 $radius black;
  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-all($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-top($radius) {
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;

  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;

  -moz-border-radius-bottomleft: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  -moz-border-radius-bottomright: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-bottom($radius) {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;

  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;

  -moz-border-radius-topleft: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;

  -moz-border-radius-topright: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-top-left($radius) {
  -moz-border-radius-topleft: $radius !important;
  -webkit-border-top-left-radius: $radius !important;
  border-top-left-radius: $radius !important;
  behavior: url(/stylesheets/PIE.htc);
}