@mixin box-shadow($radius: 3px, $color: black){
  margin: $radius;
  -moz-box-shadow: 0 0 $radius $color;
  -webkit-box-shadow: 0 0 $radius $color;
  -box-shadow: 0 0 $radius $color;
  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-all($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-top($radius) {
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;

  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;

  -moz-border-radius-bottomleft: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  -moz-border-radius-bottomright: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-bottom($radius) {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;

  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;

  -moz-border-radius-topleft: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;

  -moz-border-radius-topright: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-top-left($radius) {
  -moz-border-radius-topleft: $radius !important;
  -webkit-border-top-left-radius: $radius !important;
  border-top-left-radius: $radius !important;
  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-right($radius) {
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;

  behavior: url(/stylesheets/PIE.htc);
}

@mixin corners-left($radius) {
  @include corners-all(0);
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;

  behavior: url(/stylesheets/PIE.htc);
}

@mixin arrow-up($size, $color){
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;

  border-bottom: $size solid $color;
}

@mixin arrow-down($size, $color){
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;

  border-top: $size solid $color;
}

@mixin arrow-left($size, $color){
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;

  border-right: $size solid $color;
}

@mixin arrow-right($size, $color){
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;

  border-left: $size solid $color;
}
