@import 'yui_base';
@import 'mixins';
@import 'gallery';
@import 'buttons';
@import 'tooltips';
@import 'trip_advisor';
@import 'overlay';
@import 'testimonials';
@import 'forms';
@import 'bar_nav';

/*layout*/
@font-face {
  font-family: "28Days";
  src: url("28DaysLater.ttf") format("truetype");
}

body {
  background-color: $button-background-color;
  font: 14px/1.5 Georgia,arial,helvetica,clean,sans-serif;
}

#container {
  width: $window-width;
  margin: 0 auto;
}

#header {
  background-color: $content-background-color;
  height: 120px;
  border-bottom: 2px solid silver;
  .inner {
    width: $content-width;
    margin: 0 auto;
    position: relative;
    h1 {
      margin: 10px 0;
      font-size: 300%;
      letter-spacing: 3px;
      word-spacing: 7px;
      font-family: "28Days";
      text-shadow: 4px 4px 3px steelblue;
      display: inline-block;
      font-weight: normal;
    }
  }
}

#main {
//  float: left;
}

#sidebar {
  width: 30%;
  float: right;
  margin-left: 5px;
  background-color: $content-background-color;
  border-left: 1px dashed silver;
  #secondary_nav {
    .button {
      position: relative;
      width: 90%;
      @include corners-left($corner-radius);
      font-size: 101%;
      float: right;
      right: -10px;
      @include box-shadow(0);
      text-align: left;
    }
    .secondary {
      width: 84%;
      float: left;
      margin-left: 20px;
      border-top: 1px dashed silver;
      @include corners-all(0);
    }
    li:hover {
      & .tertiary_nav {
        display: inline;
      }
    }
  }
}

.title {
  width: 67%;
  background-color: $button-background-color;
  padding: 10px;
  padding-left: 20px;
  margin: 0;
  color: $content-background-color;
  position: relative;
  left: -10px;
  @include corners-right($corner-radius);
}

.content {
  background-color: $content-background-color;
  padding: $padding;
  @include box-shadow($shadow-radius);
  @include corners-all($corner-radius);
  width: $content-width;
}

#footer {
  font-size: 12px;
}

.inline_nav {
  margin: 0 auto;
}

.inline_nav .button {
  @include box-shadow($shadow-radius);
  width: $content-width/2 - 2*$shadow-radius/1.5 - 2*$padding;
}

.inline_nav li, .inline_nav ul {
  display: inline;
}

img {
  max-width: $content-width - $padding*2 - 2*$shadow-radius/1.5;
  display: inline-block;
}

img.left, img.right {
  max-width: ($content-width - $padding*2 - 2*$shadow-radius/1.5)/2;
}

/*utilities*/
.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

img.center {
  margin: 0 auto;
  display: block;
}

.clearfix { overflow: hidden; }

a img {
  border: none;
}

th {
  min-width: 120px;
  text-align: left;
}

select {
  min-width: 200px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

.circle {
  background: $content-background-color;
  border: 3px solid $button-background-color;
  width: 230px;
  height: 230px;
  @include corners-all(50%);
  @include box-shadow($shadow-radius);
}

.circle img {
  border: none;
  outline: none;
  width: 224px;
  height: 224px;
}

.no_back {
  background:none !important;
  border:none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/*Flash*/
.asset {
  padding: 5px;
}

.highlight-section {
  padding: 4px;
}

#flash_notice, #flash_error, .error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice, .highlight-section, .error {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, .error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_notice, #flash_error{
  margin: 10px;
}

.fieldWithErrors {
  display: inline;
}


.two-col {
  width: 50%;
  float: left;
}

table.mceLayout {
  height: auto !important;
}

.asset-admin {
  margin: 0;
  text-align: center;
}

.justify_right {
  text-align: right;
}

.justify_center {
  text-align: center;
}

td {
  text-align: left;
}

.course_nav {
  margin-top: 0 !important;
}

#blog .button {
  padding: 5px 25px 5px 10px;
}

#blog .button em {
  float: right;
}

.ajax-loader {
  background: url('/assets/ajax-loader.gif') center center no-repeat;
  z-index: 1;
  *{
    opacity: .8;
  }
}

.hidden {
  display: none;
}