@import 'mixins';
@import 'gallery';
@import 'buttons';
@import 'tooltips';
@import 'js_errors';
@import 'trip_advisor';
@import 'overlay';
@import 'testimonials';

/*layout*/
body {
  font-family: "Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana,sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#container {
  width: $window-width;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  background-color: transparent;
  padding: $padding;
  width: $content-width;
  text-align: center;
  h1 {
    margin: 0;
  }
}

.content {
  background-color: $content-background-color;
  padding: $padding;
  @include box-shadow($shadow-radius);
  @include corners-all($corner-radius);
  width: $content-width;
}

#footer {
  font-size: 12px;
}

.inline_nav {
  margin: 0 auto;
}

.inline_nav .button {
  @include box-shadow($shadow-radius);
  width: $content-width/2 - 2*$shadow-radius/1.5 - 2*$padding;
}

.inline_nav li, .inline_nav ul {
  display: inline;
}

img {
  max-width: $content-width - $padding*2 - 2*$shadow-radius/1.5;
  display: inline-block;
}

img.left, img.right {
  max-width: ($content-width - $padding*2 - 2*$shadow-radius/1.5)/2;
}

/*utilities*/
.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

img.center {
  margin: 0 auto;
  display: block;
}

.clearfix { overflow: hidden; }

a img {
  border: none;
}

th {
  min-width: 120px;
  text-align: left;
}

select {
  min-width: 200px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

.circle {
  background: $content-background-color;
  border: 3px solid $button-background-color;
  width: 230px;
  height: 230px;
  @include corners-all(50%);
  @include box-shadow($shadow-radius);
}

.circle img {
  border: none;
  outline: none;
  width: 224px;
  height: 224px;
}

.no_back {
  background:none !important;
  border:none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/*Flash*/
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}


.two-col {
  width: 50%;
  float: left;
}

table.mceLayout {
  height: auto !important;
}

.asset-admin {
  margin: 0;
  text-align: center;
}

.highlight-section {
  background-color: #FFE87C;
}

.justify_right {
  text-align: right;
}

.justify_center {
  text-align: center;
}

td {
  text-align: left;
}

.course_nav {
  margin-top: 0 !important;
}

#blog .button {
  padding: 5px 25px 5px 10px;
}

#blog .button em {
  float: right;
}

