#nav {
  width: $content-width;
  overflow: hidden;
  margin-left: 5px !important;
  .button {
    @include corners-top($corner-radius);
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content {
  margin-top: 0 !important;
}