<% f ||= local_assigns[:locals][:f] %>
<div id='<%= f.object.id.to_s %>' class="section">
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, {:class => "mceEditor", :id => 'mceEditor', :size => '100x1'} %>
  </p>
  <%= render "shared/prioritizable_fields", :locals => {:f => f} %>
</div>
<br />
