- f ||= local_assigns[:locals][:f]
%div{:id => f.object.id.to_s}
  = f.input :name
  = f.input :asset, :label => "File"
  = f.input :description, :input_html => { :size => "70x3" }
  = render "shared/prioritizable_fields", :locals => {:f => f}
