<%= link_to downloadable.title, downloadable %>
<%= "<p>#{downloadable.description}</p>" %>
<% if admin_signed_in? %>
  <p class='asset-admin'>
    <%= link_to "Remove Downloadable", downloadable, :confirm => 'Are you sure?', :method => :delete %>
    <%= link_to "Edit Downloadable", edit_downloadable_path(downloadable), :rel=>"#overlay", :class => "overlayed"  %>
  </p>
<% end %>
