= simple_form_for @index, :html => { :multipart => true, :novalidate => true } do |f|
  = f.association @downloadable do |downloadable_form|
    = render "downloadables/form", :locals => {:f => downloadable_form}
  = f.button :submit
