#header
  =render 'application/header'
.clearfix
  = render 'application/nav'
  #main_content.content
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    = yield
=render 'application/footer'
